@model StatusMetaModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StatusMetaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdStatusMeta" />
            <div class="form-group">
                <label asp-for="DescStatusMeta" class="control-label"></label>
                <input asp-for="DescStatusMeta" class="form-control" />
                <span asp-validation-for="DescStatusMeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaModelId" class="control-label"></label>
                <select asp-for="MetaModelId" class="form-control" asp-items="ViewBag.MetaModelId"></select>
                <span asp-validation-for="MetaModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
