<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Evita que o usuario rotacione a tela ou aproxime para ver as informaçoes -->
    <meta name="viewport" content="width=device-width">
    <!-- link css -->
    <link rel="stylesheet" href="/ProsperaModel/wwwroot/css/site.css">
    <!-- Fonte inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/img/Favicon.png" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@1,100&display=swap"
        rel="stylesheet">

    <title>Prospera</title>
</head>

<body>

    <section id="CardCentral">
        <!-- CardConversão e conta bancaria -->
        <ul class="CardCotBanc">
           <li class="ImgMundoCot"><img src="/ProsperaModel/img/PaginaInicial/CardCotBanc/ImgMundoCotação.png"></li>
            <li class="CardCot">
                <li><span>Dolar</span><input type="text" value="1,00"></li> 
                <li><span>Euro</span><input type="text" value="1,00"></li> 
                <li><span>Yuan</span><input type="text" value="1,00"></li> 
            </li>
            <li class="CardBanc1"><img src="/ProsperaModel/img/PaginaInicial/CardCotBanc/IconeBradesco.png"><input
                    type="text" value="Bradesco"><input type="text" value="1.000,00"></li>
            <li class="CardBanc2"><img src="/ProsperaModel/img/PaginaInicial/CardCotBanc/IconeItau.png"><input
                    type="text" value="Itau"><input type="text" value="1.000,00"></li>
            <li class="CardBanc3"><img src="/ProsperaModel/img/PaginaInicial/CardCotBanc/IconeInter.png"><input
                    type="text" value="Banco do Brasil"><input type="text" value="1.000,00"></li>

            </li>
        </ul>
         <!-- Cardes Transacoes -->
        <div class="Cards container">
            <ul class="CardTransacoes">
                <li class="CardUltPagto">
                    <h2>Pagamentos</h2>
                    <h4>Ultimo Pagamento</h4>
                    <span>R$<input type="text" value="1.500,00" readonly></span>
                    <img src="/ProsperaModel/img/PaginaInicial/CardMov/LogoCardMov1.png">
                </li>
                <li class="CardUltReceb">
                    <h2>Recebimentos</h2>
                    <h4>Ultimo Recebimento</h4>
                    <span>R$<input type="text" value="1.000,00" readonly></span>
                    <img src="/ProsperaModel/img/PaginaInicial/CardMov/LogoCardMov2.png">
                </li>
                <li class="CardTotalTran">
                    <h2>Trasações</h2>
                    <h4>Total de Movimentações</h4>
                    <span>R$<input type="text" value="500.000,00" readonly></span>
                    <img src="/ProsperaModel/img/PaginaInicial/CardMov/LogoCardMov3.png">
                </li>
            </ul>
            <!-- Cardes Evolução meta -->
            <ul class="CardEvulucaoMeta container">
                <ul>
                    <h2>teste</h2>
                </ul>
            </ul>
                 <!-- Cardes Movimentação recente -->
            <ul class="CardMovRecentes">
                <li class="CabecalhoMovimentacoes">
                    <h2>Descrição</h2>
                    <h2>Valor</h2>
                    <h2>Status</h2>
                    <h2>Conta</h2>
                    <h2>Pessoa</h2>
                </li>
                
                <ul class="InfMovimentacoes" style="max-height: 300px; overflow-y: auto;">
                    <h4>Movimentações recentes</h4>
                    <li class="Inf1">
                        <input type="text" value="Pagamento Conta de Luz" readonly id="TxtDescInf1" maxlength="20">
                        <input type="text" value="R$1.200,00" readonly id="TxtValorInf1" maxlength="6">
                        <input type="text" value="Atrasado" readonly id="TxtStatusInf1" maxlength="10">
                        <input type="text" value="Itau" readonly id="TxtContaInf1" max="8">
                        <input type="text" value="Marcelo" readonly id="TxtObsInf1" maxlength="30">


                    </li>
                    <li class="Inf2">

                        <input type="text" value="teste" readonly id="TxtDescInf2">
                        <input type="text" value="teste" readonly id="TxtValorInf2">
                        <input type="text" value="teste" readonly id="TxtStatusInf2">
                        <input type="text" value="teste" readonly id="TxtContaInf2">
                        <input type="text" value="teste" readonly id="TxtObsInf2">

                    </li>
                    <li class="Inf3">

                        <input type="text" value="teste" readonly id="TxtDescInf3">
                        <input type="text" value="teste" readonly id="TxtValorInf3">
                        <input type="text" value="teste" readonly id="TxtStatusInf3">
                        <input type="text" value="teste" readonly id="TxtContaInf3">
                        <input type="text" value="teste" readonly id="TxtObsInf3">

                    </li>
                    <li class="Inf4">

                        <input type="text" value="teste" readonly id="TxtDescInf4">
                        <input type="text" value="teste" readonly id="TxtValorInf4">
                        <input type="text" value="teste" readonly id="TxtStatusInf4">
                        <input type="text" value="teste" readonly id="TxtContaInf4">
                        <input type="text" value="teste" readonly id="TxtObsInf4">

                    </li>
                    <li class="Inf5">

                        <input type="text" value="teste" readonly id="TxtDescInf5">
                        <input type="text" value="teste" readonly id="TxtValorInf5">
                        <input type="text" value="teste" readonly id="TxtStatusInf5">
                        <input type="text" value="teste" readonly id="TxtContaInf5">
                        <input type="text" value="teste" readonly id="TxtObsInf5">

                    </li>

                </ul>
            </ul>

        </div>
    </section>


    <section id="MenuOpções">

        <div class="MenuLateral">
            <h4><img src="/ProsperaModel/img/Login/IconeLogin.png">Prospera</h4>
            <a href="#" id="BtnUsuarioConfig"><img src="/ProsperaModel/img/PaginaInicial/Menu/IconeUsuario.png"></a>
            <ul class="MenusSelecao container">
                <h2>Menu</h2>
                <li class="Selecao1">
                    <a href="#" id="BtnReceitas">Receitas</a>
                    <img src="/ProsperaModel/img/PaginaInicial/Menu/Receitas.png">
                </li>
                <li class="Selecao2">
                    <a href="#" id="BtnDespesas">Despesas</a>
                    <img src="/ProsperaModel/img/PaginaInicial/Menu/IDespesas.png">
                </li>
                <li class="Selecao3">
                    <a href="#" id="BtnTransacoes">Transações</a>
                    <img src="/ProsperaModel/img/PaginaInicial/Menu/Transacoes.png">
                </li>
                <li class="Selecao4">
                    <a href="#" id="BtnMetas">Metas</a>
                    <img src="/ProsperaModel/img/PaginaInicial/Menu/Metas.png">
                </li>
                <li class="Selecao5">
                    <a href="#" id="BtnOrcamento">Orçamentos</a>
                    <img src="/ProsperaModel/img/PaginaInicial/Menu/Orcamento.png">

                </li>
                <li class="Selecao6">
                    <a href="#" id="BtnContasBancaria">Contas Bancarias</a>
                    <img src="/ProsperaModel/img/PaginaInicial/Menu/ContasBancaria.png">
                </li>
                <li class="Selecao7"> <a href="#" id="BtnCadastroDevedorPagador">Devedor/Pagador</a>
                    <img src="/ProsperaModel/img/PaginaInicial/Menu/Devedor_Pagador.png">
                </li>
                <li class="Selecao8"> <a href="#" id="BtnAjuda">Ajuda</a>
                    <img src="/ProsperaModel/img/PaginaInicial/Menu/Ajuda.png">
                </li>

                <ul class="MenuAplicativo">
                    <h2>Aplicativo Mobile</h2>


                    <a href="https://play.google.com/store/apps/details?id=net.zedge.android&hl=pt_BR&gl=US"
                        target="_blank">
                        <img src="/ProsperaModel/img/PaginaInicial/Menu/Qrcode.png"></a>

                    <h4>Clique no Qrcode ou escaneie para Baixar o aplicativo</h4>
                </ul>

            </ul>

        </div>

    </section>















    <!-- link js -->
    <script src="/ProsperaModel/wwwroot/js/site.js" asp-append-version="true"></script>
</body>

</html>