@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="meuBotao">Clique para Ir para Outra Página</button>
    <script>
        document.getElementById("meuBotao").addEventListener("click", function () {
            // Redirecionar para outra página
            window.location.href = "/UsuarioModels";
        });
    </script>
 




</div>