html {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  overflow: hidden;


}

ul,
li {
  list-style: none;
}

a:not(#BtnEsqSenha, #BtnInscrevase, #BtnAjuda, #BtnCadastrarLogar) {
  text-decoration: none;

}

input {
  font-family: 'Inter', sans-serif;

}

body {
  background-color: var(--color-Fundo) !important;
  /* background-color: black; */
}

:root {
  --color-default: #242424;
  --color-primary: #e64c30;
  --color-segundary: #1B1572;
  --color-tertiary: #801D7B;
  --color-tertiary2: #fdf6f6;
  --color-quartiary: #7836FA;
  --color-quintiaty: #373435;
  --color-Sextiary:#605F60;
  --color-Fundo: #F4F2FF;
  --color-RoxaCardMov:#8C52FF;
}




html {
  position: relative;
  min-height: 100%;

}

body:not(.MenusSelecao h4) {
  font-size: 14px;


}

/*#region Login*/

/*#region NavBar */
.MenuNav {
  position: relative;
  width: 100%;
  height: 3rem;

}

.Nav-Container {
  width: 17rem;
  display: flex;
  position: absolute;
  left: 4em;
}

.Nav-Container img {
  width: 60px;
  padding-right: 2em;
}

.Nav-Container h2 {
  color: var(--color-tertiary);
  font-weight: 800;
  padding-right: 2em;
}

.Nav-Container li {
  line-height: 42px;
  background-color: var(--color-quartiary);
  width: 10em;
  height: 3em;
  text-align: center;
  position: relative;
  top: 0.6em;
  border-radius: 8px;
  transition: .5s;

}

.Nav-Container li:hover {
  background-color: var(--color-tertiary);
  transition: .5s;

}

.Nav-Container li a {
  color: white;
  font-weight: 600;
  padding: 1em 3.5em;
  border-radius: 8px;
}

/*#endregion*/

/*#region Central Div*/

.div-central {

  width: 50%;
  position: relative;
  display: flex;
  left: 18rem;
  top: 8rem;
  height: 23.5rem;
  /* background-color: aqua; */


}

.ImgFundo img {
  width: 55%;
  position: absolute;
  top: 1em;
  left: 1em;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.ImgFundo2 img {
  /* background-color: red; */
  position: absolute;
  top: -20em;
  left: 31em;
  width: 1050px;
}


.CardInfLogin {
  background-color: white;
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.LoginInf {
  /* background-color: #e64c30; */
  position: relative;
  align-items: center;
  top: 1.8em;
  width: 80%;
  height: 36em;
}

.LoginInf h2 {

  text-align: left;
  position: absolute;
  top: 3em;
  color: var(--color-tertiary);
}

.LiTxtLogin {
  position: relative;
  top: 10.6em;

}

.LiTxtLogin img {
  position: absolute;
  width: 20px;
  left: 1.3em;
  top: .9em;
  z-index: 1;

}

.LoginInf h4:not(.CheckH4):not(.BtxtEsqSenha) {

  position: absolute;
  top: 80%;
  color: var(--color-tertiary);
}



.LoginInf input:not(#ChekManterLogado) {
  position: absolute;
  top: 35%;
  border: none;
  margin: 0;
  width: 12rem;
  border-radius: 20px;
  height: 3em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

.LiTxtSenha {
  top: 48%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.LiTxtSenha img {
  position: absolute;
  width: 20px;
  left: 1.3em;
  top: 0.7em;
}

.LoginInf input::placeholder {
  padding-left: 3em;
  color: var(--color-tertiary);
  font-weight: 700;
}

.CheckH4 {
  position: absolute;
  top: 50%;
  left: 13%;
  color: var(--color-tertiary);
}

.LiBtnLogin {
  position: absolute;
  width: 14em;
  height: 2.5em;
  border-radius: 5px;
  top: 64%;
  left: 23%;
  background-color: #801D7B;
  text-align: center;
  transition: .5s;

}

.LiBtnLogin a {
  color: white;
  font-size: 17px;
  top: 1em;
  line-height: 35px;
  padding: 0.8em 4.4em;
  border-radius: 5px;
}

.LiBtnLogin:hover {
  background-color: var(--color-quartiary);
  transition: .5s;
}

.BtxtInscrevase {
  position: absolute;
  right: 3em;
}

.BtxtEsqSenha {
  position: absolute;
  bottom: 0;
  right: 3em;
  /* background-color: red; */
}

#BtnAjuda {
  position: absolute;
  right: 10.7em;
}


@media screen and (max-width: 768px) {

  .ImgFundo img {
    display: none;
  }

  .ImgFundo2 img {
    display: none;
  }

  .div-central {
    left: 0;
    width: 80%;
    /* background-color: #7836FA; */
  }

  .CardInfLogin {
    left: 11em;
    width: 63%;

  }

  .Nav-Container {
    width: 80%;
    /* background-color: #801D7B; */
  }

  .Nav-Container li {
    position: absolute;
    right: 1.5em;
  }



}

@media screen and (max-width: 360px) {
  .CardInfLogin {
    left: 4em;
    width: 78%;

  }

  .LoginInf {
    right: 2em;
    /* background-color: #801D7B; */
  }

  .Nav-Container {
    /* background-color: #7836FA; */
    left: 1em;
  }

  #BtnLogin {
    left: 6.4em;
  }

}


@media screen and (max-width: 375px) {
  .CardInfLogin {
    left: 4em;
    width: 78%;

  }

  .LoginInf {
    right: 2em;
    /* background-color: #801D7B; */
  }

  .Nav-Container {
    /* background-color: #7836FA; */
    left: 1em;
  }

  #BtnLogin {
    left: 6.4em;
  }
}

@media screen and (max-width: 390px) {
  .CardInfLogin {
    left: 2.3em;
    width: 82%;
    bottom: 7.8em;

  }

  .LoginInf {
    right: 2em;
    /* background-color: #801D7B; */
  }

  .Nav-Container {
    /* background-color: #7836FA; */
    left: 1em;
  }

  #BtnLogin {
    left: 6.4em;
  }

  .LiTxtLogin input {
    /* background-color: #7836FA; */
    position: absolute;
    left: .5em;
  }

  .LiTxtLogin img {
    /* background-color: #7836FA; */
    position: absolute;
    left: 1.7em;
  }

  .LiTxtSenha {
    position: absolute;
    left: .5em;
    width: 30%;
  }

  #BtnLogin {
    left: 3.8em;
  }

  .LoginInf h4 {
    right: 1.8em;
  }

  .Nav-Container img {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 7.5em;
    z-index: 1;
    left: 7em;

  }

  .Nav-Container h2 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 4.7em;
    z-index: 1;
    left: 7.3em;

  }

}

/*#endregion*/

/*#region Cadastrar*/

.CardInfCadastrar {
  background-color: white;
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.CadastrarInf {
  /* background-color: #e64c30; */
  position: relative;
  align-items: center;
  top: 1.8em;
  width: 80%;
  height: 36em;
}

.CadastrarInf h2 {

  text-align: left;
  position: absolute;
  left: 6em;
  top: 1em;
  color: var(--color-tertiary);
}

.CadastrarInf input:not(#ChekPermitirEnvioEmail) {
  position: absolute;
  top: 35%;
  border: none;
  margin: 0;
  width: 12rem;
  border-radius: 20px;
  height: 3em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

.LiTxtNome {
  top: 20%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.LiTxtNome img {
  position: absolute;
  width: 20px;
  left: 1.3em;
  top: 0.7em;
}

.LiTxtEmail {
  top: 31%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.LiTxtEmail img {
  position: absolute;
  width: 20px;
  left: 1.3em;
  top: 0.7em;
}

.LiTxtSenha {
  top: 42%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.LiTxtSenha img {
  position: absolute;
  width: 20px;
  left: 1.3em;
  top: 0.7em;
}

.LiTxtCPF {
  top: 53%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.LiTxtCPF img {
  position: absolute;
  width: 20px;
  left: 1.3em;
  top: 0.7em;
}




.CadastrarInf input::placeholder {
  padding-left: 3em;
  color: var(--color-tertiary);
  font-weight: 700;
}



#BtnCadastrar {
  position: absolute;
  width: 13em;
  height: 2.5em;
  border-radius: 5px;
  top: 74%;
  left: 25%;
  background-color: #801D7B;
  text-align: center;
  transition: .5s;

}

#BtnCadastrar a {
  color: white;
  font-size: 17px;
  top: 1em;
  line-height: 35px;
  border-radius: 5px;
}

#BtnCadastrar:hover {
  background-color: var(--color-quartiary);
  transition: .5s;
}

.BtxtInscrevase {
  position: absolute;
  bottom: 0;
}

.CheckH4Cadastro {
  position: absolute;
  top: 61%;
  left: 8%;
  color: var(--color-tertiary);
  font-size: 12px;
}


/*#endregion*/

/*#region PaginaIncial */

/*#region MenuLateral*/
.MenuLateral {
  background-color:white;
  position: fixed;
  width: 18%;
  height: 70.7em;
  top: -.2rem;
  left: -.5em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.MenuLateral h4 img:first-child {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 8%;
}

.MenuLateral h4:first-child {
  padding-left: 4em;
  padding-top: 1.3em;
  color: var(--color-Sextiary);
  letter-spacing: 1px;
}

#BtnUsuarioConfig {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  background-color: #7836FA;

}

#BtnUsuarioConfig img {
  position: absolute;
  width: 3em;
  right: 1em;
  top: 1em;
  transition: .3s;

}
#BtnUsuarioConfig  img:hover{
  transform: scale(1.1);
  transition: .3s;
}

.MenusSelecao {
  position: absolute;
  top: 8em;
  height: 90%;
  width: 88.3%;
  /* background-color: #373435; */
}
.MenusSelecao h2{
 color: var(--color-Sextiary);
 font-weight: 700 !important;
 font-size: 20px !important;

}


.MenusSelecao  li img {
  width: 9%;
  left: 4em;
}

.MenusSelecao a:not(.MenuAplicativo a){
  position: absolute;
  display: block;
  line-height: 37px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-Sextiary);
  /* alinha na vertical */
  width: 9em;
  height: 2.5em;
  left: 6em;
  margin-top: 2em;
  padding-left: .4em;
}

.Selecao1 a {
  position: absolute;
  top: 2em;
}
.Selecao1 img {
  position: absolute;
  top: 4.7em;
}
.Selecao2 a {
  position: absolute;
  top:4.8em;
}
.Selecao2 img {
  position: absolute;
  top: 8em;
}
.Selecao3 a {
  position: absolute;
  top: 7.5em;
}
.Selecao3 img {
  position: absolute;
  top: 11em;
}

.Selecao4 a {
  position: absolute;
  top: 10.2em;
  color: var(--color-Sextiary) !important;
}
.Selecao4 img {
  position: absolute;
  top: 14em;
}
.Selecao5 a {
  position: absolute;
  top: 12.6em;
}

.Selecao5 img {
  position: absolute;
  top: 17em;
}
.Selecao6 a {
  position: absolute;
  top: 15.2em;
}
.Selecao6 img {
  position: absolute;
  top: 20em;
}
.Selecao7 a {
  position: absolute;
  top: 17.7em;
}
.Selecao7 img {
  position: absolute;
  top: 23em;
}
.Selecao8 a {
  position: absolute;
  top: 20em;
  text-decoration: none;
}
.Selecao8 img {
  position: absolute;
  top: 25.6em;
}
.MenusSelecao a:hover:not(.MenuAplicativo a) {
  color: white !important;
  font-weight: 500;
  border-radius: 6px;
  background-color: var(--color-tertiary);
}

.MenuAplicativo{
/* background-color: red; */
position: absolute;
left: 0;
bottom: 2em;
height: 24em;
width: 88%;
}
.MenuAplicativo h2{
 padding-left: -1em;
 font-size: 17px !important;
 color: var(--color-Sextiary);
}
.MenuAplicativo img{
position: absolute;
width: 13em !important;
left: 5em;
top: 3.9em;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
border-radius:16px;
transition: .3s;
/* background-color: #242424; */

 }
 .MenuAplicativo h4{
  position: absolute;
  bottom: 3em;
  font-size: 11px;
 left: 1.5em;
 color: var(--color-Sextiary);
 }
.MenuAplicativo img:hover{
  transform: scale(1.1);
  transition: .3s;
}
/*#endregion*/




/*#endregion*/

/*#region CardCentral*/

/*#region Mobimentações recentes*/
.Cards{
  background-color: #373435;
  width: 60%;
  height: 39rem;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 13.9rem;
  top:-.7em;

}
.CardMovRecentes{
  /* background-color: red; */
  position: relative;
  height: 13rem;
  left: 4em;
  bottom: 6.2em;
  width: 102.5%;

}
.CabecalhoMovimentacoes{

  background-color: var(--color-quartiary);
  display: flex;
  position: absolute;
justify-content: space-evenly;
  top: 5.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  left: -1.8em;
  width: 43rem;
  height: 4em; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.CabecalhoMovimentacoes h2{
  padding-right: 2em;
  text-align: center;
  font-size: 13px; 
  padding-top: 1em;
  color: white;
}
.CabecalhoMovimentacoes h4{
  position: absolute;
top: -.8em;
text-align: center;
  font-size: 12px;
  z-index:1;
  color: white;
  
}
.InfMovimentacoes{
  display: flex;
 flex-direction: column;
  width: 80%;
  position: absolute;
  top: 7em;
  left: -1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Estilizando minha barra de rolagem das transacoes */
.InfMovimentacoes::-webkit-scrollbar {
  width: 6px;
  transition: .3s;
}
.InfMovimentacoes::-webkit-scrollbar-track {
  background: white; /* Cor de fundo da pista da barra de rolagem */
}
.InfMovimentacoes::-webkit-scrollbar-thumb {
  background: var(--color-quartiary); /* Cor da alça da barra de rolagem */
}
.InfMovimentacoes::-webkit-scrollbar-thumb:hover {
  background: var(--color-tertiary); /* Cor da alça da barra de rolagem ao passar o mouse */
  transition: .5s;
}

.InfMovimentacoes li input{
  border: none;
  outline: none;
  text-align:center;
  height: 3.8em;
  width: 13.1em;
  background-color:var(--color-quartiary);
 color: white;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
 border-radius: 8px;

}

.InfMovimentacoes li:not(.CabecalhoMovimentacoes){
border-radius: 8px;
  margin-bottom: 2.8em;
  height: 3.8em;
  width: 94.5%;
background-color:var(--color-quartiary);
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
/*#endregion*/

/*#region Evolucao meta*/
.CardEvulucaoMeta{
  background-color: white;
  width: 86%;
  height: 42%;
  display: flex;
  border-radius: 9px;
  position: relative;
  left: 2.5em;
  top: -1.7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
/*#endregion*/

.CardCotBanc{
  background-color: red;
  width: 18%;
  position: absolute;
  left: 80%;
  height: 68em;
}

.CardCotBanc img{
  width:20px;

}
.CardCot{
  background-color: white;
  position: relative;
  border-radius: 12px;
  height: 33em;
  width: 111%;
  right: 2.9em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.ImgMundoCot{
background-color: #7836FA;
position: absolute;
width: 80%;
top: 1.8em;
left: 2.9em;
height: 8rem;
z-index: 1;
border-radius: 12px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.ImgMundoCot img{
  width: 360px;
  position: absolute;
 right: -1.8em;
 bottom: -.2em;
}
.CardCot li{
background-color: #F4F2FF;
z-index: 1;
padding-bottom: 2em;
}
/*#region CardsPagamento*/
.CardTransacoes{
  /* background-color: #e64c30; */
  position: relative;
  display:flex;
  flex-direction: row-reverse;
  top: -.5em;
  left: 2.6em;
  width: 86%;
  height: 33%;

}

.CardTransacoes li{
  background-color: var(--color-RoxaCardMov);
  position: absolute;
  left: 4em;
  height: 100%;
  width: 23%;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.CardUltReceb{
  left: 28em !important;
}
.CardTotalTran{
  left: 52.5em !important;
}

.CardTransacoes h2,h4,span{
 text-align: center;
 color: white;
}
.CardTransacoes h2{
  padding-top: 1em;
  font-size: 18px !important;
  font-weight:600;
 }

 .CardTransacoes h4{
  font-size: 15px !important;
  font-weight: 500;
 }
 .CardTransacoes span input{
  border: none;
  outline: none;
  background-color: var(--color-RoxaCardMov);
  width: 76%;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight:600;


 }
 .CardTransacoes span{
position: absolute;
/* background-color: #1B1572; */
text-align: left;
width:7.5em;
font-size: 20px;
left: 2.5em;
font-weight:600;
 }
 .CardTransacoes img{
  position: absolute;
  left: 6em;
  bottom: 2em;
  width: 67px;
  animation: rotate 3s linear infinite;
 }

/* Fazendo a imagem rodar */
 @keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


/*#endregion*/



/*#region Card Cotação*/

/*#endregion*/


/*#region CardSaldoBanco*/

/*#endregion*/


/*#endregion*/