@model ProsperaModel.Models.UsuarioModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label"></label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SobrenomeUsuario" class="control-label"></label>
                <input asp-for="SobrenomeUsuario" class="form-control" />
                <span asp-validation-for="SobrenomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailUsuario" class="control-label"></label>
                <input asp-for="EmailUsuario" class="form-control" />
                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenhaUsuario" class="control-label"></label>
                <input asp-for="SenhaUsuario" class="form-control" />
                <span asp-validation-for="SenhaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoUsuario" class="control-label"></label>
                <input asp-for="CargoUsuario" class="form-control" />
                <span asp-validation-for="CargoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatCadastroUsuario" class="control-label"></label>
                <input asp-for="DatCadastroUsuario" class="form-control" />
                <span asp-validation-for="DatCadastroUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatUltimoAcesUsuario" class="control-label"></label>
                <input asp-for="DatUltimoAcesUsuario" class="form-control" />
                <span asp-validation-for="DatUltimoAcesUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusUsuario" class="control-label"></label>
                <input asp-for="StatusUsuario" class="form-control" />
                <span asp-validation-for="StatusUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTerceiros" class="control-label"></label>
                <input asp-for="IdTerceiros" class="form-control" />
                <span asp-validation-for="IdTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
