<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Evita que o usuario rotacione a tela ou aproxime para ver as informaçoes -->
  <meta name="viewport" content="width=device-width">
  <!-- link css -->
  <link rel="stylesheet" href="/ProsperaModel/wwwroot/css/Login.css">
  <!-- Fonte inter -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@1,100&display=swap"
    rel="stylesheet">

  <title>Document</title>
</head>

<body>
  <!-- Session NavBar -->
  <section id="NavBar">
    <div class="MenuNav">
      <ul class="Nav-Container">
        <img src="/ProsperaModel/img/Login/IconeLogin.png">
        <h2>PROSPERA</h2>
        <li><a href="#" id="BtnInicio">INICIO</a></li>
      </ul>


      <ul class="div-central container">

       <li class="ImgFundo">
        <img src="/ProsperaModel/img/Login/LoginBanner.png" alt="">
      </li>
      <li class="ImgFundo2">
        <img src="/ProsperaModel/img/Login/LoginBannerLaterial.png">
      </li>
        <ul class="CardInfLogin">
          
          <ul class="LoginInf">
            <h2>Olá <br> Seja bem vindo!!</h2>

          <li class="LiTxtLogin"><input type="text" placeholder="Login:" id="TxtLogin"> <img src="/ProsperaModel/img/Login/IconLogin.png" alt="Login"></li>

          <li class="LiTxtSenha"><input type="text" placeholder="Senha:" id="TxtLoginSenha"><img src="/ProsperaModel/img/Login//IconSenha.png" alt="Senha"></li>
        

          <h4 class="CheckH4"><input type="checkbox" name="" id="ChekManterLogado">  Manter logado?</h4>
         
          <li class="LiBtnLogin"><a href="#" id="BtnLogin">Logar</a></li>

            <!-- Btxt - Botão que na verdade esta dentro de um texto, h1 ou p... -->
          <h4 class="BtxtInscrevase">Não tem conta? <a href="#" id="BtnInscrevase">Inscreva-se</a></h4>

          <h4 class="BtxtEsqSenha"><a href="#" id="BtnAjuda">Ajuda</a> <a href="#" id="BtnEsqSenha">Esqueceu a senha?</a></h4>
        
        </ul>
       
        
    </div>
  </section>



<a href="/ProsperaModel/Views/Home/Cadastro.cshtml"></a>

  <!-- link js -->
  <script src="/ProsperaModel/wwwroot/js/PaginaInicial.js" asp-append-version="true"></script>
</body>

</html>