@model SeuProjeto.Models.TerceirosModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TerceirosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTerceiros" />
            <div class="form-group">
                <label asp-for="NomeTerceiros" class="control-label"></label>
                <input asp-for="NomeTerceiros" class="form-control" />
                <span asp-validation-for="NomeTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneTerceiros" class="control-label"></label>
                <input asp-for="TelefoneTerceiros" class="form-control" />
                <span asp-validation-for="TelefoneTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone2Terceiros" class="control-label"></label>
                <input asp-for="Telefone2Terceiros" class="form-control" />
                <span asp-validation-for="Telefone2Terceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailTerceiros" class="control-label"></label>
                <input asp-for="EmailTerceiros" class="form-control" />
                <span asp-validation-for="EmailTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoTerceiros" class="control-label"></label>
                <input asp-for="EnderecoTerceiros" class="form-control" />
                <span asp-validation-for="EnderecoTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CidadeTerceiros" class="control-label"></label>
                <input asp-for="CidadeTerceiros" class="form-control" />
                <span asp-validation-for="CidadeTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BairroTerceiros" class="control-label"></label>
                <input asp-for="BairroTerceiros" class="form-control" />
                <span asp-validation-for="BairroTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UFTerceiros" class="control-label"></label>
                <input asp-for="UFTerceiros" class="form-control" />
                <span asp-validation-for="UFTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEPTerceiros" class="control-label"></label>
                <input asp-for="CEPTerceiros" class="form-control" />
                <span asp-validation-for="CEPTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacaoTerceiros" class="control-label"></label>
                <input asp-for="ObservacaoTerceiros" class="form-control" />
                <span asp-validation-for="ObservacaoTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastroTerceiros" class="control-label"></label>
                <input asp-for="DataCadastroTerceiros" class="form-control" />
                <span asp-validation-for="DataCadastroTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusTerceiros" class="control-label"></label>
                <input asp-for="StatusTerceiros" class="form-control" />
                <span asp-validation-for="StatusTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoTerceiros" class="control-label"></label>
                <input asp-for="SaldoTerceiros" class="form-control" />
                <span asp-validation-for="SaldoTerceiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdContaBancariaModel" class="control-label"></label>
                <input asp-for="IdContaBancariaModel" class="form-control" />
                <span asp-validation-for="IdContaBancariaModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
